In [6]:
import os

num_queries = 0

# Set the folder containing SQL files
folder_path = "."
# Set of filenames to exclude (case-sensitive, without path)
exclude_files = {"fkindexes.sql", "schema.sql", "all_queries.sql"}

# Output file path
output_file = "all_queries.sql"

with open(output_file, 'w', encoding='utf-8') as outfile:
    for filename in sorted(os.listdir(folder_path)):
        if filename.endswith('.sql') and filename not in exclude_files:
            file_path = os.path.join(folder_path, filename)
            with open(file_path, 'r', encoding='utf-8') as infile:
                outfile.write(infile.read())
                num_queries += 1

print(f"Combined SQL written to: {output_file}")
print(f"Total number of queries: {num_queries}")

Combined SQL written to: all_queries.sql
Total number of queries: 113